<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="orange"/>
    <meta name="description" content="Find Restaurant">

    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="manifest" href="./app.webmanifest">
    <link rel="icon" type="image/x-icon" href="./favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    
    <title>Restaurant Apps</title>
  </head>
  <body>
    <a href="#main" class="skip-link">Go to Content</a>

    <header class="header">
      <div id="toast-container" class="toast-container">Review added successfully</div>
      <h1 class="web-name">Madang</h1>
      <div class="hamburger-menu">
        <button id="hamburgerButton">☰</button>
      </div>
      <nav id="nav" class="navbar">
        <ul id="nav-menu" class="nav-menu">
          <li><a href="/">Home</a></li>
          <li><a href="#/favorite">Favorite</a></li>
          <li><a href="https://www.linkedin.com/in/narendra-aldo-satya-dharma-982278229/">About Us</a></li>
        </ul>
      </nav>
    </header>

    <main id="main" class="main" tabindex="0"></main>
    
    <footer>
      <p class="footer">Copyright &#169; 2020 - Madang</p>
    </footer>
  </body>
</html>
